h2{
    font-family:'Anton', sans-serif;
}
h3{
    font-family: 'Big Shoulders Inline Text', cursive;
}
h1{
    font-family: 'Goldman', cursive;
}
h4{
    font-family: 'Indie Flower', cursive;
}
h5{
    font-family: 'Amatic SC', cursive;
}
h1{
color:#FFA62F;
}
h2{
    color:black;
}
h3{
color:black;
}
h4{
color:black;
}
h5{
color:black;
}
h1{
background-color:#CD7F32;
}
h2{
    background-color:#CD7F32;
}
h3{
background-color:#CD7F32;
}
h4{
    background-color:#CD7F32;
}
h5{
background-color:#CD7F32;
}
li{
background-color:white;
}
h1{
text-decoration:underline;
}
h2{
text-decoration:underline;
}
h3{
text-decoration:underline;
}
h4{
text-decoration:underline;
}
h5{
text-decoration:underline;
}
.closing{
    background-color:white;
}
.closing{
    text-decoration:underline;
}